.novelInfo h2,
.novelInfo h3 {
    color: var(--link-strong);
}
.novelInfo h3 {
    letter-spacing: 1px;
}

.novelInfo {
    margin-left: 15px;
    margin-right: 20px;
    flex: 1;
}
.novelInfo h2 {
    font-size: 2rem;
    text-align: center;
}
.novelInfo img {
    width: 300px;
    margin-top: .5rem;
}

.novelInfo h3 {
    line-height: 2rem;
    margin-top: .5rem;
}