.otherNovels{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 2rem;
    height: 50%;
}

.otherNovels a{
    color: var(--link-strong);
    letter-spacing: 1px;
}

.otherNovels a:hover {
    color: var(--link-hover);
    font-size: 100%;
}