.novelsChapters {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 90px);
    gap: .2rem;
    line-height: 1.3rem;
    width: auto;
    height: 250px;
}

.novelsChapters button {
    font-weight: bold;
    font-size: 1rem;

    outline: none;
    border: none;
    background: none;

    cursor: pointer;
    color: #00A1D9;

    order: 1;
}

.button {
    grid-column: span 2;
    order: 2;
    text-align: center;
}

.novelsChapters button:hover {
    color: var(--link-hover);
    transition: all .3s ease;
}