.novelDescription h2 {
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--link-strong);
    font-weight: 500;
}

.description{
    width: 100%;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}

.description div {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 800px) {
    .novelDescription h2 {
        text-align: center;
        margin-top: 1rem;
    }

    .novelDescription {
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--link-light);
    }
    .novelDescription p {
        margin-left: 1rem;
    }
}