@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,600;1,700&display=swap');

*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-strong: #0276DB;
    --link-light: #6dbcdb;
    --link-hover: #fc4349;
    --black-strong: #0d0d0d;
    --black-light: #232020;
    --white: #f8f7f9;
}


body {
    width: 100vw;
    margin: 0 auto;
    background: #dadada;
    overflow-x: hidden;
}

.wrapperHome{
    width: 60%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--white);
    box-shadow: 5px 20px 20px rgb(199, 198, 198);
    border-radius: 1rem;
}

.home-title {
    margin: .8rem 0 1.2rem 0;
    padding: .8rem 0 1.2rem 0;

    text-align: center;
    font-weight: 500;

    color: var(--link-strong);
}

p {
    font-family: 'Roboto', sans-serif;
}


/* HREF HOVER EFFECTS */


a {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-light);
}

a:visited {
    color: var(--link-light);
}
nav a:hover,
a:hover {
    color: var(--link-hover);
    font-size: 99%;
    transition: ease 350ms all;
}

/* END HOVER EFFECTS */
@media screen and (max-width: 1600px){
    .wrapperHome{
        width: 80%;
    }
}

@media screen and (max-width: 1272px){
    .wrapperHome {
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .wrapperHome {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
}


@media screen and (max-width: 512px){
    .wrapperHome{
        grid-template-columns: 1fr;
    }
}


/* GLOBALS FOR CHAPTERS SECTION */
.containerChapters {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    min-height: 88.5vh;
    padding-bottom: 1rem;

    background: #fff;
}

.containerChapters.dark {
    background: #121212;
}

.containerChapters h1 {
    margin-top: 1.5rem;
}